{{- /*
  After post body: series nav (if series front matter) then Related Posts
  (plan 0002 / D4). Relatedness uses curated `topics` (plan 0002 / D1-D3).
*/ -}}
{{- partial "series_nav.html" . -}}
{{- $related := first 5 (.Site.RegularPages.Related .) }}
{{- with $related }}
<aside class="related-posts">
  <h2 class="related-posts-title">Related Posts</h2>
  <ul class="related-posts-list">
    {{- range . }}
    <li class="related-posts-entry"><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{- end }}
  </ul>
</aside>
{{- end }}
